body {
  font-family: ARIAL, SANS-SERIF;
  margin: 0;
  background-color: #f0f0f0;
}

.header,
footer {
  background-color: rgb(73, 6, 73);
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 23px;
  margin: 0;
}

.header a {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px;
  
}

.box {
  background-color: rgb(78, 3, 66);
  color: #ccc;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.5);
  margin-top: 10px;
}

.box img {
  width: 150px;
  height: 150px;
}

.box button,
.modal button,
.remove-from-cart,
#pay-now {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 0;
}

.modal-content {
  background-color: #f0f0f0;;
  margin: 0% auto;
  padding: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#cartItems p, #checkoutItems div {
  padding: 10px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: calc(90% - 20px);
  padding: 10px;
  margin-top: 5px;
}

#payment-form {
  margin-block: 8%;
  margin-inline-start: 10px;
  margin-bottom: 10%;
}

h6 {
  font-size: 2rem;
}

footer p {
  font-size: 1.1rem;
}

.icons img {
  width: 20px;
  cursor: pointer;
}

.icons img:hover {
  width: 30px;
}


@media screen and (max-width: 600px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  #payment-form {
    margin-bottom: 9%;
  }
}